body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: inline-block;
  text-decoration: underline;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

p {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 10px;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%
}

.navContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
}

.navContent a {
  text-decoration: none;
  color: black;

}

.navContent a:hover{
  font-weight: 900;
}

#navUsername {
  font-size: 45px;
  font-weight: 600;
  color: #363636;
}

.allProd {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  width: 90%
}

.singleProduct {
  padding: 30px;
  background-clip: content-box;
  box-shadow: inset 0 0 0 5px rgb(99, 114, 114);
  margin-top: 10px;
  width: 200px;
  margin-right: 15px;
}

.frontDisplay{
  display: flex;
  justify-content: center;
}

.productInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.singleProductInfo {
  width: 33%;
}

.productPageTop{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.singleItem {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  width: 90%
}

.del{
  color:lightcoral
}

.cartPage {
  margin-left: auto;
  margin-right: auto;
  width: 90%
}

.productForm{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.formInputs{
  display:flex;
  flex-direction: column;
  align-items: flex-end;
}

.button-60 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 0.375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #363636;
  cursor: pointer;
  display: inline-flex;
  font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
  font-size: 1rem;
  height: 2.5em;
  justify-content: center;
  line-height: 1.5;
  padding: calc(0.5em - 1px) 1em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  width: 80%;
}

.button-60:active {
  border-color: #4a4a4a;
  outline: 0;
}

.button-60:focus {
  border-color: #485fc7;
  outline: 0;
}

.button-60:hover {
  border-color: #b5b5b5;
}

.button-60:focus:not(:active) {
  box-shadow: rgba(72, 95, 199, 0.25) 0 0 0 0.125em;
}

#descriptor {
  margin-top: 15%;
}

#SPbutton {
  margin-left: 20px;
  margin-top: 40px;
}
/*
CSS For cart page
*/
.cart-title {
  text-align: center;
}
.cart-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cart-items-container {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: gray;
}
